:root {
    --bingo-item-height: 125px;
}

body {
    font-family: sans-serif;
    background: url("bg.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.page {
    width: 40%;
    margin: 30px auto;
    background: RGBa(255,255,255,0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 4px 3px RGBa(0,0,0,0.4);
}
h1 {
    text-align: center;
    color: #333;
    font-size: 50px;
    margin-top: 0;
}
.bingo-card-mass-storage {
    
}
.bingo-card {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,var(--bingo-item-height));
    background: url("cardbg.png");
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px RGBa(0,0,0,0.4), inset -2px -2px 5px RGBa(0,0,0,0.4);
}
.bingo-item {
    flex-grow: 1;
    background: RGBa(255,255,255,0.8);
    padding: 1%;
    position: relative;
    transition: 0.1s ease;
}
.bingo-item:hover {
    background: #fff;
}
.bingo-item:hover .bingo-item-inner {
    opacity: 1;
    width: 120%;
    height: 120%;
    z-index: 10;
    top: -10%;
    left: -10%;
}
.bingo-title {
    display: block;
    font-weight: bold;
    margin: 0;
    position: absolute;
    font-size: 17px;
    text-align: center;
    top: 50%;
    color: #555;
    transform: translateY(-50%);
    width: 100%;
}
.bingo-item-inner {
    background: #fff;
    opacity: 0;
    position: absolute;
    transition-delay: 0.1s;
    transition: 0.1s ease;
    top: 0;
    left: 0;
    border-radius: 3px;
    padding: 10%;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px RGBa(0,0,0,0.1);
}
.bingo-mark-done {
    width: 100%;
    height: 50%;
    background: linear-gradient(#ededed,#ebebeb,#f7f7f7);
    border: none;
    font-family: sans-serif;
    font-size: 20px;
}
footer {
    margin: 30px -40px -20px -40px;
    padding: 20px;
    background: #fff;
}
