:root {
    --bingo-item-height: 125px;
    --card-background: RGBa(255,255,255,0.5);
    --card-shadow: 2px 3px 6px RGBa(0,0,0,0.2);
    --card-title-background: linear-gradient(90deg, #2f5d94,#339761);
}

body {
    font-family: sans-serif;
    background: url("images/bg.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.page {
    width: 40%;
    margin: 30px auto;
    background: RGBa(255,255,255,0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 4px 3px RGBa(0,0,0,0.4);
}
.center {
    text-align: center;
}
p.center {
    margin: 5px;
    font-weight: 600;
    color: #555;
}
h1 {
    color: #474747;
    font-size: 50px;
    margin: 0
}
.bingo-card-mass-storage {
    margin-top: 20px;
}
.bingo-card {
    margin-top: 20px;
    /*background: url("cardbg.png");*/
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    box-shadow: var(--card-shadow);
    background: var(--card-background);
}
.bingo-card-title {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    margin: 0;
    background: #fff;
    color: #fff;
    border-radius: 5px 5px 0 0;
    background: var(--card-title-background);
    cursor: pointer;
}
.shown {
    display: block;
}
.bingo-tiles-container {
    display: none;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,var(--bingo-item-height));
}
.bingo-tiles-container.shown {
    display: grid;
}
.bingo-item.complete {
    background: #fff;
    cursor: pointer;
}
.bingo-item.complete .bingo-title {
    color: #6b7b6b;
}
.bingo-item {
    flex-grow: 1;
    position: relative;
    transition: 0.1s ease;
    box-sizing: border-box;
}
.bingo-background {
    image-rendering: pixelated;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.bingo-item:nth-child(21) {
    border-radius: 0 0 0 5px;
}
.bingo-item:nth-child(25) {
    border-radius: 0 0 5px 0;
}
.bingo-item:not(.complete):hover .bingo-title {
    opacity: 0;
}
.bingo-item:not(.complete):hover .bingo-item-inner {
    opacity: 1;
    width: 120%;
    height: 120%;
    z-index: 10;
    top: -10%;
    left: -10%;
    pointer-events: all;
}
.bingo-title {
    display: block;
    font-weight: bold;
    margin: 0;
    position: absolute;
    font-size: 17px;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #555;
    transform: translate(-50%,-50%);
    width: 80%;
    opacity: 1;
    transition: 0.25s ease;
    pointer-events: none;
}
.bingo-free-space {
    font-size: 40px;
    text-align: center;
    color: #777;
    line-height: var(--bingo-item-height);
}
@supports (background-clip: text) or (-webkit-background-clip: text)  {
    .bingo-free-space {
        background-image: linear-gradient(90deg, #2d46a8,#35ac4f);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}
.bingo-item-inner {
    background: RGBa(255,255,255,0.4);
    opacity: 0;
    position: absolute;
    transition-delay: 0.1s;
    transition: 0.1s ease;
    top: 0;
    left: 0;
    border-radius: 3px;
    padding: 15%;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px RGBa(0,0,0,0.1);
    overflow: hidden;
    cursor: default;
    pointer-events: none;
}
.bingo-description {
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    color: #444;
}
.bingo-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
}
.bingo-button {
    display: inline-block;
    height: 100%;
    margin: 0;
    flex-grow: 1;
    background: transparent;
    transition: 0.05s ease;
    cursor: pointer;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
}
.bingo-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bingo-button:hover {
    background: #fff;
}
.bingo-button:active {
    box-shadow: inset 1px 2px 10px RGBa(0,0,0,0.1);
}
h2 {
    margin-top: 40px;
    font-size: 40px;
    color: #555;
    margin-bottom: 10px;
}
.achievement {
    background: var(--card-background);
    box-shadow: var(--card-shadow);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}
.achievement-title {
    margin-top: 0;
    font-size: 30px;
    background-image: var(--card-title-background);
    padding: 20px;
    color: #fff;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.achievement-title.flash::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotateZ(45deg);
    animation: 1s fancy-flash cubic-bezier(0.08, 0.25, 0.22, 0.93);
}

@keyframes fancy-flash {
    0% {
        left: -30%;
        background: RGBa(255,255,255,0.1);
    }
    100% {
        left: 100%;
        background: RGBa(255,255,255,1);
    }
}
.achievement-description {
    padding: 20px;
    color: #333;
    margin: 0;
    font-size: 17px;
    line-height: 25px;
}
.achievement-link {
    text-decoration: none;
    background: #fff;
    color: #fff;
    background: var(--card-title-background);
    padding: 3px 5px;
    border-radius: 3px;
    opacity: 0.7;
    font-weight: bold;
    transition: 0.2s ease;
}
.achievement-link:hover {
    opacity: 1;
}
.achievement-image {
    margin: 0 0 20px 20px;
}
footer {
    margin: 30px -40px -20px -40px;
    padding: 20px;
    background: #fff;
}
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: var(--card-title-background);
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
}
.back-to-top span {
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: #555;
}
.back-to-top::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 0.2s ease;
}
.back-to-top:hover::after {
    height: 0;
    width: 0;
}
.back-to-top:hover span {
    color: #fff;
}
